<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TODO</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h2>
                <a class="navbar-brand" href="{% url 'index' %}">TODO</a>
            </h2>
            <a class="btn btn-sm btn-outline-primary" href="#">TODO Artists</a>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'tracks' %}">TODO Tracks</a>
            <a class="btn btn-sm btn-outline-primary" href="#">TODO Songbook</a>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
            {% block body%}
            {% endblock %}
        </div>
    </body>
</html>